# Ambiente
.env
appdata/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# Editores / SO
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
